
@{
    ViewBag.Title = "Repair";//报修
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <title>捷普科技 &mdash; 工夹具管理系统</title>

    <link rel="stylesheet" href="../../dist/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../dist/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../../dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <link rel="stylesheet" href="../../dist/modules/summernote/summernote-lite.css">
    <link rel="stylesheet" href="../../dist/modules/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../dist/css/demo.css">
    <link rel="stylesheet" href="../../dist/css/style.css">
</head>

<body>
    <div id="app">



        <div class="main-wrapper">


            <div class="navbar-bg"></div>



            <nav class="navbar navbar-expand-lg main-navbar">

                <ul class="navbar-nav navbar-right">
                    <a style="color: whitesmoke ;height:10px;
	font-size:15px;">出库管理</a>

                    <li class="text_head">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
                            <i class="ion ion-android-person d-lg-none"></i>
                            <div class="" id="greet">Hi, 张三</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="profile.html" class="dropdown-item has-icon">
                                <i class="ion ion-android-person"></i> 个人
                            </a>
                            <a href=" login.html" class="dropdown-item has-icon">
                                <i class="ion ion-log-out"></i> 退出
                            </a>
                        </div>
                    </li>
                </ul>




            </nav>


            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="index.html">JABIL 捷普科技</a>
                    </div>
                    <div class="sidebar-user">
                        <div class="sidebar-user-picture">
                            <img alt="image" src="../../dist/img/avatar/avatar-1.jpeg" id="user_img">
                        </div>
                        <div class="sidebar-user-details">
                            <div class="user-name" id="username">张三</div>
                            <div class="user-role" id="role">
                                初级用户
                            </div>
                        </div>
                    </div>







                    <ul class="sidebar-menu">
                        <li class="menu-header">Welcome</li>
                        <li class="active">
                            <a href="index.html"><i class="ion ion-speedometer"></i><span>HOMEPAGE</span></a>
                        </li>





                        <li class="menu-header">FUNCTION</li>
                        <li>
                            <a href="#" class="has-dropdown"><i class="ion ion-ios-albums-outline"></i><span>出入库管理</span></a>
                            <ul class="menu-dropdown">
                                <li><a href="general01.html"><i class="ion ion-ios-circle-outline"></i> 入库</a></li>
                                <li><a href="general02.html"><i class="ion ion-ios-circle-outline"></i> 出库</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="general03.html"><i class="ion ion-clipboard"></i><span>报修申请</span></a>
                        </li>
                    </ul>

                </aside>
            </div>




            <style>
                body {
                    background-image: url('../../dist/img/avatar/02.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            </style>




            <form class="section-body" method="POST">


                <p class="text01">INFORMATION</p>
                <p class="contenter">>- - - - - - - - - -  </p>

                <div class="row">


                    <div class="row1">
                        <a class="text1" style="color:#574B90"> 时间</a>
                        <input class="input01" id="time" type="text" name="time" tabindex="2" required>
                        <a class="text1" style="color:#574B90">记录人</a>
                        <input class="input01" id="record_user" name="record_user" tabindex="2" required>
                    </div>


                    <div class="row2">
                        <label class="text1" style="color:#574B90"> 代码</label>

                        <input class="input01" id="tool_code" type="text" name="tool_code" tabindex="2" required>
                        <a class="text1" style="color:#574B90">Model</a>
                        <input class="input01" id="tool_model" type="text" name="tool_model" tabindex="2" required>
                    </div>


                    <div class="row3">
                        <a class="text1" style="color:#574B90">库位</a>
                        <input class="input01" id="tool_location" type="text" name="tool_location" tabindex="2" required>
                        <a class="text1" style="color:#574B90">Partno</a>
                        <input class="input01" id="tool_partno" type="text" name="tool_partno" tabindex="2" required>
                    </div>

                    <div class="row4">
                        <a class="text1" style="color:#574B90">产线</a>
                        <input class="input01" id="produce_line" type="text" name="produce_line" tabindex="2" required>
                        <a class="text1" style="color:#574B90">Family</a>
                        <input class="input01" id="tool_family" type="text" tabindex="2" name="tool_family" required>
                    </div>


                    <div class="row5">
                        <a class="text1" style="color:#574B90">名称</a>
                        <input class="input01" id="tool_name" type="text" name="tool_name" tabindex="2" required>
                        <a class="text1" style="color:#574B90">经手人</a>
                        <input class="input01" id="rent_user" type="text" name="rent_user" tabindex="2" required>
                    </div>


                    <script>
        function onclk2()

        {


          if(isNaN(document.getElementById("time").value) && isNaN(document.getElementById("record_user").value) && isNaN(document.getElementById("tool_code").value) && isNaN(document.getElementById("tool_model").value) && isNaN(document.getElementById("tool_location").value) && isNaN(document.getElementById("tool_partno").value) && isNaN(document.getElementById("tool_family").value) && isNaN(document.getElementById("produce_line").value) && isNaN(document.getElementById("tool_name").value) && isNaN(document.getElementById("rent_user").value))

          {
            alert("提交成功");
          }
          else
          {
            alert("请填写完整信息")
          }







        }

                    </script>

                    <div class="btn01">
                        <button type="submit" class="btn btn-primary btn-block" tabindex="4" onclick="onclk2()">
                            提交
                        </button>
                    </div>






                </div>

            </form>







        </div>
    </div>

    <script src="../../dist/modules/jquery.min.js"></script>
    <script src="../../dist/modules/popper.js"></script>
    <script src="../../dist/modules/tooltip.js"></script>
    <script src="../../dist/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
    <script src="../../dist/js/sa-functions.js"></script>

    <script src="../../dist/modules/chart.min.js"></script>
    <script src="../../dist/modules/summernote/summernote-lite.js"></script>

    <script>
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
      datasets: [{
        label: 'Statistics',
        data: [460, 458, 330, 502, 430, 610, 488],
        borderWidth: 2,
        backgroundColor: 'rgb(87,75,144)',
        borderColor: 'rgb(87,75,144)',
        borderWidth: 2.5,
        pointBackgroundColor: '#ffffff',
        pointRadius: 4
      }]
    },
    options: {
      legend: {
        display: false
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            stepSize: 150
          }
        }],
        xAxes: [{
          gridLines: {
            display: false
          }
        }]
      },
    }
  });
    </script>
    <script src="../../dist/js/scripts.js"></script>
    <script src="../../dist/js/custom.js"></script>
    <script src="../../dist/js/demo.js"></script>
</body>
</html>