
@{
    ViewBag.Title = "UserPower";//更改用户权限
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <title>捷普科技 &mdash; 工夹具管理系统</title>

    <link rel="stylesheet" href="../dist/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <link rel="stylesheet" href="../dist/modules/summernote/summernote-lite.css">
    <link rel="stylesheet" href="../dist/modules/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../dist/css/demo.css">
    <link rel="stylesheet" href="../dist/css/style.css">
</head>

<body>
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">

                <ul class="navbar-nav navbar-right">
                    <a style="color: whitesmoke ;height:10px;
	font-size:15px;">权限修改</a>

                    <li class="text_head">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
                            <i class="ion ion-android-person d-lg-none"></i>
                            <div class="">Hi, 李真</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="profile.html" class="dropdown-item has-icon">
                                <i class="ion ion-android-person"></i> 个人
                            </a>
                            <a href=" login.html" class="dropdown-item has-icon">
                                <i class="ion ion-log-out"></i> 退出
                            </a>
                        </div>
                    </li>
                </ul>




            </nav>


            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="index02.html">JABIL 捷普科技</a>
                    </div>
                    <div class="sidebar-user">
                        <div class="sidebar-user-picture">
                            <img alt="image" src="../dist/img/avatar/07.jpg">
                        </div>
                        <div class="sidebar-user-details">
                            <div class="user-name">李真</div>
                            <div class="user-role">
                                系统管理员
                            </div>
                        </div>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Welcome</li>
                        <li class="active">
                            <a href="index05.html"><i class="ion ion-speedometer"></i><span>HOMEPAGE</span></a>
                        </li>
                        <li class="menu-header">FUNCTION</li>
                        <li>
                            <a href="user_revise.html"><i class="ion ion-clipboard"></i><span>添加/删除用户</span></a>
                        </li>
                        <li>
                            <a href="user_power.html"><i class="ion ion-clipboard"></i><span>更改用户权限</span></a>
                        </li>

                    </ul>
                </aside>
            </div>





            <div class="container" style="position: absolute;top:17%;left:17%">
                <h5 style="color: darkslateblue">< - - -权限修改- - - ></h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>权限</th>
                            <th>管理</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="username1">张三</td>
                            <td>
                                <p id="power1">初级用户</p>
                            </td>
                            <td>
                                <a href="user_power2.html" data-toggle="modal" data-target="#myModal">修改</a>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content" style="width:80%">
                                            <div class="modal-header">
                                                <p class="modal-title" style="font-size: 20px ;color:darkslateblue" id="myModalLabel">
                                                    修改用户权限(按Esc退出）
                                                </p>
                                            </div>
                                            <script>
                                                function onclk9() {

                                                    if (document.getElementById("1q1").checked) {

                                                        document.getElementById("power1").textContent = "初级用户"
                                                    }

                                                    if (document.getElementById("1q2").checked) {

                                                        document.getElementById("power1").textContent = "高级用户"
                                                    }


                                                    if (document.getElementById("1q3").checked) {

                                                        document.getElementById("power1").textContent = "监管员"
                                                    }



                                                    if (document.getElementById("1q4").checked) {

                                                        document.getElementById("power1").textContent = "经理"
                                                    }



                                                    if (document.getElementById("1q5").checked) {

                                                        document.getElementById("power1").textContent = "系统管理员"
                                                    }





                                                }
                                            </script>
                                            <div class="modal-body">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="1q1" value="0">初级用户</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="1q2" value="1">高级用户</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="1q3" value="2">监管员</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="1q4" value="3">经理</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="1q5" value="4">系统管理员</label>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" onclick="onclk9()" class="btn-apply" style="color: darkslateblue">
                                                    确定
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>










                        <!--这里是李四-->
                        <tr>
                            <td id="username2">李四</td>
                            <td>
                                <p id="power2">高级用户</p>

                            </td>
                            <td>
                                <a href="user_power2.html" data-toggle="modal" data-target="#myModal2">修改</a>
                                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content" style="width:80%">
                                            <div class="modal-header">
                                                <p class="modal-title" style="font-size: 20px ;color:darkslateblue" id="myModalLabel2">
                                                    修改用户权限(按Esc退出）
                                                </p>
                                            </div>
                                            <script>
                                                function onclk10() {

                                                    if (document.getElementById("2q1").checked) {

                                                        document.getElementById("power2").textContent = "初级用户"
                                                    }

                                                    if (document.getElementById("2q2").checked) {

                                                        document.getElementById("power2").textContent = "高级用户"
                                                    }


                                                    if (document.getElementById("2q3").checked) {

                                                        document.getElementById("power2").textContent = "监管员"
                                                    }



                                                    if (document.getElementById("2q4").checked) {

                                                        document.getElementById("power2").textContent = "经理"
                                                    }



                                                    if (document.getElementById("2q5").checked) {

                                                        document.getElementById("power2").textContent = "系统管理员"
                                                    }





                                                }
                                            </script>

                                            <div class="modal-body">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="2q1" value="0">初级用户</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="2q2" value="1">高级用户</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="2q3" value="2">监管员</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="2q4" value="3">经理</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="2q5" value="4">系统管理员</label>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" onclick="onclk10()" class="btn-apply" style="color: darkslateblue">
                                                    确定
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>


















                        <!--这里是监管员-->
                        <tr>
                            <td id="username3">童雪</td>

                            <td>
                                <p id="power3">监管员</p>

                            </td>


                            <td>
                                <a href="user_power2.html" data-toggle="modal" data-target="#myModal3">修改</a>
                                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content" style="width:80%">
                                            <div class="modal-header">
                                                <p class="modal-title" style="font-size: 20px ;color:darkslateblue" id="myModalLabel3">
                                                    修改用户权限(按Esc退出）
                                                </p>
                                            </div>


                                            <script>
                                                function onclk11() {

                                                    if (document.getElementById("3q1").checked) {

                                                        document.getElementById("power3").textContent = "初级用户"
                                                    }

                                                    if (document.getElementById("3q2").checked) {

                                                        document.getElementById("power3").textContent = "高级用户"
                                                    }


                                                    if (document.getElementById("3q3").checked) {

                                                        document.getElementById("power3").textContent = "监管员"
                                                    }



                                                    if (document.getElementById("3q4").checked) {

                                                        document.getElementById("power3").textContent = "经理"
                                                    }



                                                    if (document.getElementById("3q5").checked) {

                                                        document.getElementById("power3").textContent = "系统管理员"
                                                    }





                                                }
                                            </script>

                                            <div class="modal-body">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="3q1" value="0">初级用户</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="3q2" value="1">高级用户</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="3q3" value="2">监管员</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="3q4" value="3">经理</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="3q5" value="4">系统管理员</label>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" onclick="onclk11()" class="btn-apply" style="color: darkslateblue">
                                                    确定
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>



                        </tr>












                        <!--这里是经理-->
                        <tr>
                            <td id="usernam4">孙娜恩</td>
                            <td>
                                <p id="power4">经理</p>

                            </td>


                            <td>
                                <a href="#" data-toggle="modal" data-target="#myModal4">修改</a>
                                <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabe4" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content" style="width:80%">
                                            <div class="modal-header">
                                                <p class="modal-title" style="font-size: 20px ;color:darkslateblue" id="myModalLabel4">
                                                    修改用户权限(按Esc退出）
                                                </p>
                                            </div>


                                            <script>
                                                function onclk12() {

                                                    if (document.getElementById("4q1").checked) {

                                                        document.getElementById("power4").textContent = "初级用户"
                                                    }

                                                    if (document.getElementById("4q2").checked) {

                                                        document.getElementById("power4").textContent = "高级用户"
                                                    }


                                                    if (document.getElementById("4q3").checked) {

                                                        document.getElementById("power4").textContent = "监管员"
                                                    }



                                                    if (document.getElementById("4q4").checked) {

                                                        document.getElementById("power4").textContent = "经理"
                                                    }



                                                    if (document.getElementById("4q5").checked) {

                                                        document.getElementById("power4").textContent = "系统管理员"
                                                    }





                                                }
                                            </script>


                                            <div class="modal-body">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="4q1" value="0">初级用户</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="4q2" value="1">高级用户</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="4q3" value="2">监管员</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="4q4" value="3">经理</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" id="4q5" value="4">系统管理员</label>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="submit" onclick="onclk12()" class="btn-apply" style="color: darkslateblue">
                                                    确定
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>




                        </tr>














                        <!--这里是系统管理员-->

                    </tbody>
                </table>
            </div>












        </div>
    </div>

    <script src="../dist/modules/jquery.min.js"></script>
    <script src="../dist/modules/popper.js"></script>
    <script src="../dist/modules/tooltip.js"></script>
    <script src="../dist/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="../dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
    <script src="../dist/js/sa-functions.js"></script>

    <script src="../dist/modules/chart.min.js"></script>
    <script src="../dist/modules/summernote/summernote-lite.js"></script>

    <script>
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
      datasets: [{
        label: 'Statistics',
        data: [460, 458, 330, 502, 430, 610, 488],
        borderWidth: 2,
        backgroundColor: 'rgb(87,75,144)',
        borderColor: 'rgb(87,75,144)',
        borderWidth: 2.5,
        pointBackgroundColor: '#ffffff',
        pointRadius: 4
      }]
    },
    options: {
      legend: {
        display: false
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            stepSize: 150
          }
        }],
        xAxes: [{
          gridLines: {
            display: false
          }
        }]
      },
    }
  });
    </script>
    <script src="../dist/js/scripts.js"></script>
    <script src="../dist/js/custom.js"></script>
    <script src="../dist/js/demo.js"></script>
</body>
</html>